*{
  padding: 0;
  margin: 0;
}

.main{
    background-image: url(Images/NetflixBackground.jpg);
    height: 80vw;
    
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.main.box{
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 60px;
}

nav.img{
    color: red;
    width: 100;
    z-index: 10;
    position: relative;
}